USE [master]
GO
/****** Object:  Database [DATA]    Script Date: 4/12/2026 11:20:33 PM ******/
CREATE DATABASE [DATA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DATA', FILENAME = N'F:\app\MSSQL16.MSSQLSERVER\MSSQL\DATA\DATA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DATA_log', FILENAME = N'F:\app\MSSQL16.MSSQLSERVER\MSSQL\DATA\DATA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATA]
GO
/****** Object:  Table [dbo].[Table1]    Script Date: 4/12/2026 11:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table1](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Total] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table2]    Script Date: 4/12/2026 11:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table2](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Date] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[Gender] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Table1] ([Id], [Name], [Address], [Total]) VALUES (1, N'Tran Anh', N'DaNa', 10)
INSERT [dbo].[Table1] ([Id], [Name], [Address], [Total]) VALUES (2, N'Le Van Binh', N'Qnam', 20)
INSERT [dbo].[Table1] ([Id], [Name], [Address], [Total]) VALUES (3, N'Nguyen Chat', N'TpHCM', 30)
GO
INSERT [dbo].[Table2] ([Id], [Name], [Date], [Address], [Gender]) VALUES (1, N'Tran Anh', N'01/01/2000', N'DaNa', N'Nam')
INSERT [dbo].[Table2] ([Id], [Name], [Date], [Address], [Gender]) VALUES (2, N'Le Van Binh', N'12/05/1998', N'Qnam', N'Nam')
INSERT [dbo].[Table2] ([Id], [Name], [Date], [Address], [Gender]) VALUES (3, N'Nguyen Chat', N'20/10/1995', N'TpHCM', N'Nam')
GO
USE [master]
GO
